@model ToDoListAplication.Models.ToDoTaks

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ToDoTaks</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Done" />
                    <label asp-for="Done"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Task" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Task" class="form-control" />
                <span asp-validation-for="Task" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ToDoListId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ToDoListId" class ="form-control" asp-items="ViewBag.ToDoListId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
