@model ToDoListAplication.Models.ViewModels.EditToDoList

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ToDoList</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        @for (int i = 0; i < Model.Tasks.Count; i++)
        {
            <div class="form-group">
                <input type="hidden" asp-for="Tasks[i].Id" />
                <label asp-for="Tasks[i].Done">Done:</label>
                <input asp-for="Tasks[i].Done" />

                <label asp-for="Tasks[i].Task" >Task:</label>
                <input asp-for="Tasks[i].Task" />
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div> 
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
